* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-bottom: 80px;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

/* Imagens responsivas */
img {
  max-width: 100%;
  display: block;
}

.header {
  background: #1d1e20;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

/* Flexbox */
.flex {
  display: flex;
  flex-wrap: wrap; /*Se for preciso quebre para a linha de baixo */
  max-width: 800px;
  margin: 0 auto;
}

/* Div que esta dentro da class flex */
/* primeiro numero 1 para que o conteúdo da div se expanda
Segundo 1 para que ela consiga ficar menos - flex sherink
e que ele sempre tenha uma base de 200px */

/*Pega todas as div que o elemento pai é a classe .flex*/
.flex > div {
  flex: 1 1 200px;
  margin: 10px;
}

/* Grid layout 1 */
.grid1 {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; => Equivalente abaixo */
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  margin: 0 auto;
  grid-gap: 20px;
  padding: 10px;
}

/* Captura a quarta div em diante */
.grid1 > div:nth-child(n+4) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.grid1 > div.anuncio {
  grid-column: 1;
  grid-row: 2 / 5; /*Pega na coluna 1 as linha 2,3,4 e 5*/
  border-top: 10px solid red;
  display: block;
}

@media (max-width: 600px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid1 > div:nth-child(n+4) {
    display: block;
  }

  .grid1 > div.anuncio {
    grid-column: auto;
    grid-row: auto;
    order: -1;
  }
}

/* CSS Grid 2 */
.grid2 {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
}

.grid2 .sidebar > div {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .grid2 {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: flex;
    overflow: scroll;
  }

  .sidebar > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}